<div class="body">
    <div class="container">
        <div class="titulo">Registrar o Livro</div>
        <form action="#">
            <div class="detalhes-livro">
            <div class="input-box">
                <span class="detalhes">Título</span>
                <input type="text" placeholder="Insira o título" required [(ngModel)]="livro.titulo" name="titulo">
            </div>
            <div class="input-box">
                <span class="detalhes">Resumo</span>
                <input type="text" placeholder="Insira o resumo" required [(ngModel)]="livro.resumo" name="resumo">
            </div>
            <div class="input-box">
                <span class="detalhes">Descrição</span>
                <input type="text" placeholder="Insira a descrição" required [(ngModel)]="livro.descricao" name="descricao">
            </div>
            <div class="input-box">
                <span class="detalhes">Páginas</span>
                <input type="number" placeholder="Insira o número de páginas" required [(ngModel)]="livro.paginas" name="paginas">
            </div>
            <div class="input-box">
                <span class="detalhes">Preço</span>
                <input type="number" placeholder="Insira o preço (R$)" required [(ngModel)]="livro.preco" name="preco">
            </div>  
            <div class="input-box">
                <span class="detalhes">Edição</span>
                <input type="number" placeholder="Insira o número da edição" required [(ngModel)]="livro.edicao" name="edicao">
            </div>
            <div class="input-box">
                <span class="detalhes">Idioma</span>
                <input type="text" placeholder="Insira o idioma" required [(ngModel)]="livro.idioma" name="idioma">
            </div>
            <div class="input-box">
                <span class="detalhes">Ano de Publicação</span>
                <input type="number" placeholder="Insira o ano de publicação" required [(ngModel)]="livro.ano_lancamento" name="ano_lancamento">
            </div> 
            <div class="input-box">
                <span class="detalhes">Id do Autor</span>
                <input type="number" placeholder="Insira o id do autor" required [(ngModel)]="livro.id_autor" name="id_autor">
            </div>
            <div class="input-box">
                <span class="detalhes">Id da Editora</span>
                <input type="number" placeholder="Insira o id da editora" required [(ngModel)]="livro.id_editora" name="id_editora">
            </div>                
          <div class="button">
          <input type="submit" value="Registrar" (click)="cadastrar()">
          <a href="showlivro"><input id="button-2" type="submit" value="Livros cadastrados"></a>
          </div>
          <a id="voltar" href="home">Voltar</a>
          </div>
        </form>
        </div>
    </div>