<div class="body">
  <div class="container">
      <div class="titulo">Registrar o Autor</div>
      <form action="#">
          <div class="detalhes-autor">
            <div class="input-box">
                <span class="detalhes">Nome</span>
                <input type="text" placeholder="Insira o nome" required [(ngModel)]="aut.nome" name="nome">
            </div>
            <div class="input-box">
              <span class="detalhes">Telefone</span>
              <input type="text" placeholder="Insira o telefone" required [(ngModel)]="aut.telefone" name="telefone">
            </div>
            <div class="input-box">
              <span class="detalhes">Rua</span>
              <input type="text" placeholder="Insira a rua" required [(ngModel)]="aut.rua" name="rua">
            </div>
            <div class="input-box">
              <span class="detalhes">Numero</span>
              <input type="text" placeholder="Insira o número" required [(ngModel)]="aut.numero" name="numero">
            </div>
            <div class="input-box">
              <span class="detalhes">Bairro</span>
              <input type="text" placeholder="Insira o bairro" required [(ngModel)]="aut.bairro" name="bairro">
            </div>
            <div class="input-box">
              <span class="detalhes">CEP</span>
              <input type="text" placeholder="Insira o CEP" required [(ngModel)]="aut.cep" name="cep">
            </div>
            <div class="input-box">
              <span class="detalhes">Cidade</span>
              <input type="text" placeholder="Insira a cidade" required [(ngModel)]="aut.cidade" name="cidade">
            </div>
            <div class="input-box">
              <span class="detalhes">UF</span>
              <input type="text" placeholder="Insira a UF" required [(ngModel)]="aut.uf" name="uf">
            </div>
            <div class="input-box">
              <span class="detalhes">Tipo</span>
              <input type="text" placeholder="Insira o tipo" required [(ngModel)]="aut.tipo" name="tipo">
          </div>
            <div class="input-box">
                <span class="detalhes">Nacionalidade</span>
                <input type="text" placeholder="Insira a nacionalidade" required [(ngModel)]="aut.nacionalidade" name="nacionalidade">
            </div>
            <div class="input-box">
                <span class="detalhes">Data de morte</span>
                <input type="text" placeholder="Insira a data de morte" required [(ngModel)]="aut.data_morte" name="data_morte">
            </div>         
            <div class="input-box">
              <span class="detalhes">Biografia</span>
              <input type="text" placeholder="Insira a biografia" required [(ngModel)]="aut.biografia" name="biografia">
            </div>        
          </div>
          <div class="button">
            <input type="submit" value="Registrar" (click)="cadastrar()">
            <a href="showautor"><input id="button-2" type="submit" value="Autores cadastrados"></a>
            
          </div>
          <a id="voltar" href="home">Voltar</a>                
        </form>
        
  </div>
  
</div>  