<div class ="body">
    <div class="container">
        <div class="titulo">Registrar Usuário</div>
        <form action="#">
            <div class="detalhes-editora">
                <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Insira o nome" required [(ngModel)]="user.nome" name="nome">
                </div>
                <div class="input-box">
                  <span class="detalhes">Telefone</span>
                  <input type="text" placeholder="Insira o telefone" required [(ngModel)]="user.telefone" name="telefone">
                </div>
                <div class="input-box">
                  <span class="detalhes">Rua</span>
                  <input type="text" placeholder="Insira a rua" required [(ngModel)]="user.rua" name="rua">
                </div>
                <div class="input-box">
                  <span class="detalhes">Numero</span>
                  <input type="text" placeholder="Insira o número" required [(ngModel)]="user.numero" name="numero">
                </div>
                <div class="input-box">
                  <span class="detalhes">Bairro</span>
                  <input type="text" placeholder="Insira o bairro" required [(ngModel)]="user.bairro" name="bairro">
                </div>
                <div class="input-box">
                  <span class="detalhes">CEP</span>
                  <input type="text" placeholder="Insira o CEP" required [(ngModel)]="user.cep" name="cep">
                </div>
                <div class="input-box">
                  <span class="detalhes">Cidade</span>
                  <input type="text" placeholder="Insira a cidade" required [(ngModel)]="user.cidade" name="cidade">
                </div>
                <div class="input-box">
                  <span class="detalhes">UF</span>
                  <input type="text" placeholder="Insira a UF" required [(ngModel)]="user.uf" name="uf">
                </div>
                <div class="input-box">
                  <span class="detalhes">Tipo</span>
                  <input type="text" placeholder="Insira o tipo" required [(ngModel)]="user.tipo" name="tipo">
                </div>
                <div class="input-box">
                    <span class="detalhes">Nome de usuário</span>
                    <input type="text" placeholder="Insira o nome de usuário" required [(ngModel)]="user.username" name="username">
                </div>
                <div class="input-box">
                    <span class="detalhes">Senha</span>
                    <input type="password" placeholder="Insira a senha" required [(ngModel)]="user.password" name="password">
                </div>
          <div class="button">
          <input type="submit" value="Registrar">
          </div>
            <a href="home">Voltar</a>
          </div>
        </form>
        </div>
</div>
