@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    height: 150vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255, 221, 0, 0.4906337535014006) 0%, rgba(255, 221, 0, 0.8015581232492998) 50%, rgba(255, 221, 0, 1) 100%);
}

.container {
    max-width: 500px;
    max-height: 1350px;
    height: 100%;
    width: 100%;
    background: #fff;
    padding: 25px 20px;
    border-radius: 5px;

    .titulo {
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

    .titulo::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 3px;
        width: 35px;
        background: #fd0;
    }

    form .detalhes-editora {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 30px 0;
    }

    form .detalhes-editora .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .detalhes-editora .input-box .detalhes {
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .detalhes-editora .input-box input {
        height: 45px;
        width: 100%;
    }

    .detalhes-editora .input-box input {
        height: 45px;
        width: 350px;
        outline: none;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding-left: 12px;
        font-size: 16px;
        border-bottom-width: 2px;
    }

    .detalhes-editora .input-box input:hover {
        border-color: #fd0;
    }

    form .button {
        width: 700px;
        height: 45px;
        margin: 35px 0
    }
    
    form .button input {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: #fd0;
    }
    
    form .button input:hover {
        background: #dbbe01
    }
    
    form .detalhes-editora .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    
    form .detalhes-editora {
        max-height: 450px;      
    }

    form .detalhes-select{
        font-size: 17px;
        margin-lefT: 2px;
        margin-top: 10px;
    }
         
    form .detalhes-editora select {
        margin: 12px 15px;
    }

    form .detalhes-editora select:hover{
        border-color: #fd0
    }

    #voltar{
        color: black;
        text-decoration: none;
        margin-top: 45px;
    }

    form .button #button-2{
        margin-top: 20px;
        background-color: blue;
    }
}
