<div class="body">
    <div class="container">
        <div class="cadastro">
            <button><a href="cadautor">
                <div id="cad-1">Cadastro de Autor</div>
            </a></button>
            <button><a href="cadlivro">
                <div id="cad-2">Cadastro de Livro</div>
            </a></button>
            <button><a href="cadeditora">
                <div id="cad-3">Cadastro da Editora</div>
            </a></button>
            <button><a href="cadusuario">
                <div id="cad-4">Cadastro de Usuario</div>
            </a></button>
        </div>
    </div>
</div>
<div>
    <ul>
        <li *ngFor="let autor of autores">
            {{ autor.nome }} ({{ autor.nacionalidade }})
        </li>
    </ul>    
</div>
