@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(255, 221, 0, 0.4906337535014006) 0%, rgba(255, 221, 0, 0.8015581232492998) 50%, rgba(255, 221, 0, 1) 100%);
}

button #cad-1 {
    height: 45px;
    margin: 8px 38px;
}

button #cad-2 {
    height: 45px;
    margin: 8px 41px;
}

button #cad-3 {
    height: 45px;
    margin: 8px 25px;;
}

button #cad-4 {
    height: 45px;
    margin: 8px 25px;;
}

button{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border-color: #fff;
    border-width: 1px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #fd0;
    width: 300px;
    height: 50px;
    margin: 20px;
    font-size: 22px;
}

button a{
    text-decoration: none;
    color: #fff
}

button:hover{
    background: #dbbe01
}