<div class ="body">
    <div class="container">
        <div class="titulo">Registrar Editora</div>
        <form action="#">
            <div class="detalhes-editora">
                <div class="input-box">
                    <span class="detalhes">Nome</span>
                    <input type="text" placeholder="Insira o nome" required [(ngModel)]="editora.nome" name="nome">
                </div>
                <div class="input-box">
                  <span class="detalhes">Telefone</span>
                  <input type="text" placeholder="Insira o telefone" required [(ngModel)]="editora.telefone" name="telefone">
                </div>
                <div class="input-box">
                  <span class="detalhes">Rua</span>
                  <input type="text" placeholder="Insira a rua" required [(ngModel)]="editora.rua" name="rua">
                </div>
                <div class="input-box">
                  <span class="detalhes">Numero</span>
                  <input type="text" placeholder="Insira o número" required [(ngModel)]="editora.numero" name="numero">
                </div>
                <div class="input-box">
                  <span class="detalhes">Bairro</span>
                  <input type="text" placeholder="Insira o bairro" required [(ngModel)]="editora.bairro" name="bairro">
                </div>
                <div class="input-box">
                  <span class="detalhes">CEP</span>
                  <input type="text" placeholder="Insira o CEP" required [(ngModel)]="editora.cep" name="cep">
                </div>
                <div class="input-box">
                  <span class="detalhes">Cidade</span>
                  <input type="text" placeholder="Insira a cidade" required [(ngModel)]="editora.cidade" name="cidade">
                </div>
                <div class="input-box">
                  <span class="detalhes">UF</span>
                  <input type="text" placeholder="Insira a UF" required [(ngModel)]="editora.uf" name="uf">
                </div>
                <div class="input-box">
                  <span class="detalhes">Tipo</span>
                  <input type="text" placeholder="Insira o tipo" required [(ngModel)]="editora.tipo" name="tipo">
                </div>
                <div class="input-box">
                    <span class="detalhes">CNPJ</span>
                    <input type="text" placeholder="Insira o CNPJ" required [(ngModel)]="editora.cnpj" name="ceditora">
                </div>
                <div class="input-box">
                    <span class="detalhes">IE</span>
                    <input type="text" placeholder="Insira a ie" required [(ngModel)]="editora.ie" name="ie">
                </div>
                <div class="input-box">
                    <span class="detalhes">Razão social</span>
                    <input type="text" placeholder="Insira a razão social" required [(ngModel)]="editora.razao_social" name="razao_social">
                </div>
          <div class="button">
          <input type="submit" value="Registrar" (click)="cadastrar()">
          <a href="showeditora"><input id="button-2" type="submit" value="Editoras cadastrados"></a>
          </div>
            <a id="voltar" href="home">Voltar</a>
          </div>
        </form>
        </div>
</div>